.container .filters {
	border:1px solid #DDDDDD;
	border-radius:4px;
	height:70px;
	width:100%;
	background:#ffffff;
	}

.container .filters button {
	font-size:18px;
	background:#FF5A5F;
	color:#FFFFFF;
	height:48px;
	width:20%;
	border:none;
	border-radius:4px;
	float:right;
	margin-right:30px;
	top:50%;
	transform: translate(0, 22%);
	}

.container .filters button:hover {
	opacity:90%;
	}